<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DSCI551 Project</title>
</head>
<body>
    <h1>Sentiment Analysis on How the Public Think of USC on Twitter</h1>

    <p>Please upload a csv file for description and sentiment analysis</p>

    <form>
      <input type="file"
             id="text" name="data"
             accept="text/csv">
      <input type="submit">
    </form>

    <p>Analysis: </p>
    <div>
        <p> [Placeholder for tag cloud picture] </p>
        <p> [Placeholder for data description] </p>
        <p>Sentiment Score: 1</p>
    </div>


    <p>Please upload an image for description and sentiment analysis</p>

    <form>
      <input type="file"
             id="image" name="image"
             accept="image/*">
      <input type="submit">
    </form>

    <p>Analysis: </p>
    <div>
        <p> [Placeholder for image description] </p>
        <p>Sentiment Score: 0</p>
    </div>

</body>
</html>