<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DSCI551 Project</title>
</head>
<body>
    <h1>Sentiment Analysis on How the Public Think of USC on Twitter</h1>

    <p>Please upload a csv file for description and sentiment analysis</p>

    <form method=post enctype=multipart/form-data>
      <input type="file"
             id="text" name="data"
             accept="text/csv">
      <input type="submit" id="text-submit" name="text-submit">
    </form>

    <p>Analysis: </p>
    <div>
        <p> [Placeholder for tag cloud picture] </p>
        <p> [Placeholder for data description] </p>
        <p>Sentiment Score: 1</p>
    </div>


    <p>Please upload an image for description and sentiment analysis</p>

    <form method=post enctype=multipart/form-data>
      <input type="file"
             id="image" name="image"
             accept="image/*">
      <input type="submit" id="image-submit" name="image-submit" value=Upload>
    </form>

    <p>Analysis: </p>
    <div>
        <div id="container">
            <img src="{{ url_for('display_image', name=filename) }}" width="300" height="300">
        </div>
        <script type="text/javascript">
            function getFilename()
            {
                var filename = document.getElementById('image');
                alert(filename.value);
            }
        </script>
        <p>Sentiment Score: 0</p>
    </div>

</body>
</html>